<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style1.css">
 

    <title>compras</title>
</head>
<body>
    <header>
        <nav class="navBar">
    
            <div class="contenedorLogo">
                <a href="/"><img src="/images/logo.jpg" class="logo" alt="Logo"></a>
            </div>
            
            <div class="contenedorBotones">
                <i class="fa-solid fa-baby-carriage"></i>  
                <a href="/" class="botonNav">Como Funciona?</a>
                <a href="/products/compras" class="botonNav">Servicios</a>
                <a href="#" class="botonNav">Ayuda</a>
                <a href="/users/login" class="botonNav">Acceder</a>
                <a href="/products/sign" class="botonNav">Registrarse</a>
            </div>
    
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    
        </nav>
        </header>      

    <main>       
        <div class="buscador">
            <input class="search" type="text" ><i class="fa fa-search" aria-hidden="true"></i>
        </div>


    <div class="contain-page">
        
        <div class="contain-nineras">

        <% for(i=0;i< productos.length;i++){%>
            
            <div class="contain-perfil">
            
            <div class="contain-person"><img class="img-person" src=<%= productos[i].img %>><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>               
            <div class="descripcion">
                <h4><%= productos[i].nombre+" "+productos[i].apellido%></h4>
                <p><%= productos[i].frase %></p>

            <ul name="aptitudes">
                <li><%= productos[i].aptitudes[0]%></li>
                <li><%= productos[i].aptitudes[1]%></li>
                <li><%= productos[i].aptitudes[2]%></li>            
            </ul> 
                     
              
                <p>Valor:<%= productos[i].precio %></p>
                <input class="submit" type="submit" value="Seleccionar">
                </div>
            </div>
            <%}%>
                      

        </div>
               
        <div class="contain-map">
            
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.955285859576!2d-58.52320478519984!3d-34.47865855839786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb047eee0d8a3%3A0xc37aa5894070f63b!2sAv.%20Bernab%C3%A9%20M%C3%A1rquez%20700%2C%20San%20Isidro%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1617900991168!5m2!1ses!2sar" 
                style="border:0; " allowfullscreen="" loading="lazy"></iframe>
            
        </div>
                    
    </div>
    </main>      

    <%- include('../partials/footer.ejs')%>   
           
</body>




</html>