<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style6.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
</head>


<body>  

    <%- include('../partials/header.ejs')%>  
    
    <% if(Array.isArray(product)){%>

        <%for(i=0; i< product.length; i++){%>
    
    <div class="contenedorDetalle">

       
        <div class="card-container">
            <div class="header">        
        
                <a href="#">
                    <img src=<%= product[i].img %>>
                </a>
                <h2><%= product[i].nombre %></h2>
                <h4>Ni침era Profesional</h4>
            </div>
            <div class="descripcion">
                <p><%= product[i].descipci칩n%></p>
                    <div class="caracteristica">Precio:<%= product[i].precio%></div>
                    <div class="caracteristica">Aptitudes:</div>
                    <ul>
                        <li><%= product[i].aptitudes[0]%></li>
                        <li><%= product[i].aptitudes[1]%></li>
                        <li><%= product[i].aptitudes[2]%></li>
                    </ul>
                    <div class="caracteristica">Celular:<%= product[i].numero de contacto%></div>
                    <div class="caracteristica">Mail:<%= product[i].correo electronico%></div>
                    
            </div>
        </div>

    </div>
    <%}
    %>
       
<%} else{%>



        <div class="contenedorDetalle">

           
            <div class="card-container">
                <div class="header">        
            
                    <a href="#">
                        <img src=<%= product[i].img %>>
                    </a>
                    <h2><%= product.nombre %></h2>
                    <h4>Ni침era Profesional</h4>
                </div>
                <div class="descripcion">
                    <p><%= product.descipci칩n%></p>
                        <div class="caracteristica">Precio:<%= product.precio%></div>
                        <div class="caracteristica">Aptitudes:</div>
                        <ul>
                            <li><%= product.aptitudes%></li>
                            <li><%= product.aptitudes%></li>
                            <li><%= product.aptitudes%></li>
                        </ul>
                        <div class="caracteristica">Celular:<%= product.numero de contacto %></div>
                        <div class="caracteristica">Mail:<%= product.correo electronico %></div>
                        
                </div>
            </div>

        </div>

        <%}%> 
     
    
    

    <%- include('../partials/footer.ejs')%>

</body>
</html>