<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/detail.css">

<body>  

    <%- include('../partials/header.ejs')%>  
    
        
    
    <div class="contenedorDetalle">

       
        <div class="card-container">
            <div class="header">        
        
                <a href="#">
                    <img src="<%= product.img %>">
                </a>
                <h2><%= product.nombre %></h2>
                <h4>Niñera Profesional</h4>
            </div>
            <div class="descripcion">
                <p><%= product.descipción%></p>
                    <div class="caracteristica">Precio:<%= product.precio%></div>
                    <div class="caracteristica">Aptitudes:</div>
                    <ul>
                        <li><%= product.aptitudes[0]%></li>
                        <li><%= product.aptitudes[1]%></li>
                        <li><%= product.aptitudes[2]%></li>
                        
                    </ul>
                    <div class="caracteristica">Celular:<%= product.celular%></div>
                    <div class="caracteristica">Mail:<%= product.email%></div>
                    
            </div>
        </div>

    </div>
   
    
    

    <%- include('../partials/footer.ejs')%>

</body>
</html>