<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/editNineras.css">

    <body>

        <%- include('../partials/header.ejs')%>
    
            
    <!--- Formulario Niñeras-->
    
    <main class="form-container">
    <form form action="/products/<%=editProducts.id%>/edit?_method=PUT"  method="POST" class="create-form" enctype="multipart/form-data">
        <h1>Modifica tus datos</h1>
        <div class="control-formulario">
          Imagen de Perfil: <input type="file" name="img" id="Imagen de Perfil" accept= ".jpg, multiple" value="<%= editProducts.img %>">
          
        </div>
        
        
        <div class="control-formulario">
            <label>Nombre</label>
            <input type="text" name="nombre" class="control" value="<%= editProducts.nombre %>">
            
        </div>
    
        <div class="control-formulario">
            <label>Apellido</label>
            <input type="text" name="apellido" class="control" value="<%= editProducts.apellido %>">
            
           
        </div>
    
        <div class="control-formulario">
            <label>Correo Electrónico</label>
            <input type="email" name="email" class="control" value="<%= editProducts.email %>">
            
          
        </div>
    
        <div class="control-formulario">
            <label for="" class="label">Username</label>
            <input type="text" name="username" class="control" value="<%= editProducts.username %>">
            
        </div>
    
        <div class="control-formulario">
            <label for="" class="label">Password</label>
            <input type="password" name="password" class="control" value="<%= editProducts.password %>">
            
                
        </div>
       
        <div class="control-formulario">
            <label>Edad</label>
            <input type="text" name="edad" class="control" value="<%= editProducts.edad %>">
           
            
        </div>
    
    
    
        <div class="control-formulario">
            <label>País de residencia</label>
            <select name="paisDeResidencia" class="control" value="<%= editProducts.paisDeResidencia %>">
                <option value="Argentina">Argentina</option>
                
                
            </select>
           
        </div>
    
        <div class="control-formulario">
             <label>Ciudad de residencia</label>
             <select name="ciudad_de_residencias_id" class="control" value="<%= editProducts.ciudad_de_residencias_id %>">
                <option value="" selected>Elegi una ciudad</option>
                <option value="1"selected>Buenos aires</option>
                <option value="2"selected>Santa Fe</option>
                <option value="3"selected>Rosario</option>
                <option value="4"selected >Mendoza</option>
                <option value="5"selected>Mar de plata</option>
                <option value="6"selected >La Plata</option>
              
            </select>
            
        </div>  
        
        <div class="control-formulario">
            <label>Dirección</label>
            <input type="text" name="direccion" class="control" value="<%= editProducts.direccion %>">
         
        </div>
        
        <div class="control-formulario">
            <label>Número de Contacto</label>
            <input type="number" name="celular" class="control" placeholder="" value="<%= editProducts.celular %>">
           
            
        </div>
    
     
        <div class="control-formulario">
            <label>Descripción</label>
            <textarea name="descripcion" class="control"><%= editProducts.descripcion%></textarea >
                
        </div> 
    
        <div class="control-formulario">
            <label>Describete en una frase</label><!--- Se debe limitar-->
            <textarea name="frase" class="control"><%= editProducts.frase%></textarea >
               
        </div>
    
        
    
        <div class="control-formulario">
            <label>Aptitudes(Escoge una aptitud que más te represente)</label>
            <select name="aptitudes_id" class="control" value="<%= editProducts.aptitudes_id %>">
                <option value="1">Creativa</option>
                <option value="2">Paciencia</option>
                <option value="3">Responsable</option>
                <option value="4">Comunicativa</option>
                <option value="5">Divertida</option>
                <option value="6">Organizada</option>
                <option value="7">Atenta</option>
            </select>
    
            
           
        </div>
    
    
        <div class="control-formulario">
            <label>Precio por Hora</label>
           <input type="price" name="precio" class="control" placeholder="" value="<%= editProducts.precio %>">
           
           
        </div>
    
            
        <button type="submit" class="boton-formulario">Guardar</button>
        
    
    </form>
    <form action="/products/<%= editProducts.id%>/delete?_method=DELETE" method="POST" class="create-form" enctype="multipart/form-data">
        <button type="submit" class="boton-formulario">Borrar</button></form>
    
    </main>
    
    <%- include('../partials/footer.ejs')%>   
    </body>
    </html>