<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/registerBabySitter.css">
          
<body>

    <%- include('../partials/header.ejs')%>

        
<!--- Formulario Niñeras-->

<main class="form-container">

<div class="errores">
    <ul></ul>
</div>
<form action="/products/sign" method="POST" class="create-form" enctype="multipart/form-data">
    <h1>¡Bienvenido a Nannies!</h1>
    <div class="control-formulario">
      Imagen de Perfil: <input type="file" name="img" id="img" value="<%= locals.oldData ? oldData.img :null%>">
      <% if(locals.errors && errors.img){%>
        <div class="text-danger">
            <%= errors.img.msg %>
        </div>
    <%} %>
    </div>
    
    
    <div class="control-formulario">
        <label>Nombre</label>
        <input type="text" name="nombre" class="control" id="nombre" value="<%= locals.oldData ? oldData.nombre :null%>">
        <% if(locals.errors && errors.nombre){%>
            <div class="text-danger">
                <%= errors.nombre.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>Apellido</label>
        <input type="text" name="apellido" class="control" id="apellido" value="<%= locals.oldData ? oldData.apellido :null%>">
        <% if(locals.errors && errors.apellido){%>
            <div class="text-danger">
                <%= errors.apellido.msg %>
            </div>
        <%} %>
       
    </div>

    <div class="control-formulario">
        <label>Correo Electrónico</label>
        <input type="email" name="email" class="control" id="email" value="<%= locals.oldData ? oldData.email :null%>">
        <% if(locals.errors && errors.email){%>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
        <%} %>
      
    </div>

    <div class="control-formulario">
        <label for="" class="label">Username</label>
        <input type="text" name="username" class="control" id=username value="<%= locals.oldData ? oldData.username :null%>">
        
    </div>

    <div class="control-formulario">
        <label for="" class="label">Password</label>
        <input type="password" name="password" class="control" id="password" >
        <% if(locals.errors && errors.password){%>
            <div class="text-danger">
                <%= errors.password.msg %>
            </div>
        <%} %>
        
    </div>
   
    <div class="control-formulario">
        <label>Edad</label>
        <input type="text" name="edad" class="control" value="<%= locals.oldData ? oldData.edad :null%>">
       
        
    </div>



    <div class="control-formulario">
        <label>País de residencia</label>
        <select name="paisDeResidencia" class="control" value="<%= locals.oldData ? oldData.paisDeResidencia :null%>">
            <option value="Argentina">Argentina</option>
            
            
        </select>
      
          
    </div>

    <div class="control-formulario">
         <label>Ciudad de residencia</label>
         <select name="ciudad_de_residencias_id" class="control" value="<%= locals.oldData ? oldData.ciudad_de_residencias_id :null%>">
            <option value="1">Buenos aires</option>
            <option value="2">Santa Fe</option>
            <option value="3">Rosario</option>
            <option value="4">Mendoza</option>
            <option value="5">Mar de plata</option>
            <option value="6">La Plata</option>
          
        </select>
    </div>  
    
    <div class="control-formulario">
        <label>Dirección</label>
        <input type="text" name="direccion" class="control" value="<%= locals.oldData ? oldData.direccion :null%>">
        
    </div>
    
    <div class="control-formulario">
        <label>Número de Contacto</label>
        <input type="number" name="celular" class="control" value="<%= locals.oldData ? oldData.celular :null%>">
     
        
    </div>

 
    <div class="control-formulario">
        <label>Descripción</label>
        <textarea name="descripcion" class="control" id="descripcion" value="<%= locals.oldData ? oldData.descripcion :null%>"></textarea >
            <% if(locals.errors && errors.descripcion){%>
                <div class="text-danger">
                    <%= errors.descripcion.msg %>
                </div>
            <%} %>
            
    </div> 

    <div class="control-formulario">
        <label>Describete en una frase</label><!--- Se debe limitar-->
        <textarea name="frase" class="control" value="<%= locals.oldData ? oldData.frase :null%>"></textarea >
          
    </div>

    

    <div class="control-formulario">
        <label>Aptitudes(Escoge una aptitud que más te represente)</label>
        <select name="aptitudes_id" class="control" value="<%= locals.oldData ? oldData.aptitudes_id :null%>">
            <option value="1">Creativa</option>
            <option value="2">Paciencia</option>
            <option value="3">Responsable</option>
            <option value="4">Comunicativa</option>
            <option value="5">Divertida</option>
            <option value="6">Organizada</option>
            <option value="7">Atenta</option>
            
          
        </select>
       
    </div>


    <div class="control-formulario">
        <label>Precio por Hora</label>
       <input type="price" name="precio" class="control" value="<%= locals.oldData ? oldData.precio :null%>">
     
       
    </div>

        
    <button type="submit" class="boton-formulario">Guardar</button>
    

</form>

</main>
<script src="/js/validation.js"></script>

<%- include('../partials/footer.ejs')%>   
</body>
</html>