<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/registerBabySitter.css">
          
<body>

    <%- include('../partials/header.ejs')%>

        
<!--- Formulario Niñeras-->

<main class="form-container">
<form action="/products/sign" method="POST" enctype="multipart/form-data">
    <h1>¡Bienvenido a Nannies!</h1>
    <div class="control-formulario">
      Imagen de Perfil: <input type="file" name="img" id="Imagen de Perfil" accept= ".jpg, multiple">
      <% if(locals.errors && errors.img){%>
        <div class="text-danger">
            <%= errors.img.msg %>
        </div>
    <%} %>
    </div>
    
    
    <div class="control-formulario">
        <label>Nombre</label>
        <input type="text" name="nombre" class="control">
        <% if(locals.errors && errors.nombre){%>
            <div class="text-danger">
                <%= errors.nombre.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>Apellido</label>
        <input type="text" name="apellido" class="control">
        <% if(locals.errors && errors.apellido){%>
            <div class="text-danger">
                <%= errors.apellido.msg %>
            </div>
        <%} %>
       
    </div>

    <div class="control-formulario">
        <label>Correo Electrónico</label>
        <input type="email" name="email" class="control">
        <% if(locals.errors && errors.email){%>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
        <%} %>
      
    </div>

    <div class="control-formulario">
        <label for="" class="label">Username</label>
        <input type="text" name="username" class="control">
        <% if(locals.errors && errors.username){%>
            <div class="text-danger">
                <%= errors.username.msg %>
            </div>
        <%} %>
        
    </div>

    <div class="control-formulario">
        <label for="" class="label">Password</label>
        <input type="password" name="password" class="control">
        <% if(locals.errors && errors.password){%>
            <div class="text-danger">
                <%= errors.password.msg %>
            </div>
        <%} %>
        
    </div>
   
    <div class="control-formulario">
        <label>Edad</label>
        <input type="text" name="edad" class="control">
        <% if(locals.errors && errors.edad){%>
            <div class="text-danger">
                <%= errors.edad.msg %>
            </div>
        <%} %>
        
    </div>

    <div class="control-formulario">
        <label>Nacionadlidad</label>
        <input type="text" name="nacionalidad" class="control">
        <% if(locals.errors && errors.nacionalidad){%>
            <div class="text-danger">
                <%= errors.nacionalidad.msg %>
            </div>
        <%} %>
       
    </div>

    <div class="control-formulario">
        <label>País de residencia</label>
        <select name="paisDeResidencia" class="control">
            <option value="">Elegi una opción</option>
            <option value="Argentina">Argentina</option>
            <option value="Colombia">Colombia</option>
            
        </select>
        <% if(locals.errors && errors.paisDeResidencia){%>
            <div class="text-danger">
                <%= errors.paisDeResidencia.msg %>
            </div>
        <%} %>
          
    </div>

    <div class="control-formulario">
         <label>Ciudad de residencia</label>
         <select name="ciudadDeResidencia" class="control">
            <option value="Elegi una ciudad">Elegi una ciudad</option>
            <option value="Buenos aires">Buenos aires</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Rosario">Rosario</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Mar de plata">Mar de plata</option>
            <option value="La Plata">La Plata</option>
          
        </select>
    </div>  
    
    <div class="control-formulario">
        <label>Dirección</label>
        <input type="text" name="direccion" class="control">
        <% if(locals.errors && errors.direccion){%>
            <div class="text-danger">
                <%= errors.direccion.msg %>
            </div>
        <%} %>
    </div>
    
    <div class="control-formulario">
        <label>Número de Contacto</label>
        <input type="number" name="celular" class="control" placeholder="">
        <% if(locals.errors && errors.celular){%>
            <div class="text-danger">
                <%= errors.celular.msg %>
            </div>
        <%} %>
        
    </div>

 
    <div class="control-formulario">
        <label>Descripción</label>
        <textarea name="descripcion" class="control"></textarea >
            <% if(locals.errors && errors.descripcion){%>
                <div class="text-danger">
                    <%= errors.descripcion.msg %>
                </div>
            <%} %>
    </div> 

    <div class="control-formulario">
        <label>Describete en una frase</label><!--- Se debe limitar-->
        <textarea name="frase" class="control"></textarea >
            <% if(locals.errors && errors.frase){%>
                <div class="text-danger">
                    <%= errors.frase.msg %>
                </div>
            <%} %>
    </div>

    

    <div class="control-formulario">
        <label>Aptitudes (Seleccioná tres)</label>
        
        <input  type="checkbox" name="aptitudes" value="Paciencia"><label for="Paciencia">Paciencia</label></div>
        <input  type="checkbox" name="aptitudes" value="Respondable"><label for="Respondable">Respondable</label></div>
        <input  type="checkbox" name="aptitudes" value="Proactiva"><label for="Proactiva">Proactiva</label></div>
        <input  type="checkbox" name="aptitudes" value="Divertida"><label for="Divertida">Divertida</label></div>
        <input  type="checkbox" name="aptitudes" value="Comunicacion"><label for="Comunicacion">Comunicacion</label></div>
        <input  type="checkbox" name="aptitudes" value="Organizada"><label for="Organizada">Organizada</label></div>
        <input  type="checkbox" name="aptitudes" value="Puntual"><label for="Puntual">Puntual</label></div>
        <input  type="checkbox" name="aptitudes" value="Creativa"><label for="Creativa">Creativa</label></div>
        <input  type="checkbox" name="aptitudes" value="Amistosa"><label for="Amistosa">Amistosa</label></div>

        <% if(locals.errors && errors.aptitudes){%>
            <div class="text-danger">
                <%= errors.aptitudes.msg %>
            </div>
        <%} %>
       
    </div>


    <div class="control-formulario">
        <label>Precio por Hora</label>
       <input type="price" name="precio" class="control" placeholder="">
       <% if(locals.errors && errors.precio){%>
        <div class="text-danger">
            <%= errors.precio.msg %>
        </div>
    <%} %>
       
    </div>

        
    <button type="submit" class="boton-formulario">Guardar</button>
    

</form>

</main>

<%- include('../partials/footer.ejs')%>   
</body>
</html>