<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/registerParents.css">

          
<body>

<%- include('../partials/header.ejs')%>
<main class="form-container">
<!--- Formulario-->
<form form action="/users/<%=editUsers.id%>/edit?_method=PUT"  method="POST" class="create-form" enctype="multipart/form-data">
<h1>Modifica tus datos</h1>

<div class="control-formulario">
Imagen de Perfil: <input type="file" name="img" id="Imagen de Perfil" accept= ".jpg, multiple" value="<%= editUsers.img %>">

</div>
     <div class="control-formulario">
        <label>Nombre</label>
        <input type="text" name="nombre" class="control" value="<%= editUsers.nombre %>">
        
    </div>

    <div class="control-formulario">
        <label>Apellido</label>
        <input type="text" name="apellido" class="control" value="<%= editUsers.apellido %>">
        
    </div>

    <div class="control-formulario">
        <label>Correo Electrónico</label>
        <input type="email" name="email" class="control" value="<%= editUsers.email %>">
        
    </div>

    <div class="control-formulario">
        <label for="" class="label">Username</label>
        <input type="text" name="username" class="control" value="<%= editUsers.username %>">
      
    </div>

    <div class="control-formulario">
        <label for="" class="label">Password</label>
        <input type="password" name="password" class="control" value="<%= editUsers.password %>">
     
    </div>

      <div class="control-formulario">
        <label>País de residencia</label>
        <select name="paisDeResidencia" class="control" value="<%= editUsers.paisDeResidencia %>" >
            <option value="Argentina">Argentina</option>
            
            
        </select>
        
          
    </div>

    <div class="control-formulario">
        <label>Ciudad de residencia</label>
        <select name="ciudad_de_residencias_id" class="control" value="<%= editUsers.ciudad_de_residencias_id %>" >
           <option value="0">Elegi una ciudad</option>
           <option value="1">Buenos aires</option>
           <option value="2">Santa Fe</option>
           <option value="3">Rosario</option>
           <option value="4">Mendoza</option>
           <option value="5">Mar de plata</option>
           <option value="6">La Plata</option>
         
       </select>
   </div>
    
    <div class="control-formulario">
        <label>Dirección</label>
        <input type="text" name="direccion" class="control" placeholder="" value="<%= editUsers.direccion %>">
       
    </div>
    
    <div class="control-formulario">
        <label>Número de Contacto</label>
        <input type="text" name="movil" class="control" placeholder="" value="<%= editUsers.movil %>">
      
    </div>

    <div class="control-formulario">
        <label>Alguna vez contrataste niñera?</label>         
            <input type="radio" name="pregunta" value="Si" class="radio" value="<%= editUsers.pregunta %>">Si
            <input type="radio" name="pregunta" value="No" class="radio" value="<%= editUsers.pregunta %>">No</label>
    </div>

       
    <button type="submit" class="boton-formulario">Guardar</button>
 </form>

</div1>
</main>   
<%- include('../partials/footer.ejs')%>

</body>


</html>