<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/editParents.css">

          
<body>

<%- include('../partials/header.ejs')%>
<main class="form-container">
<!--- Formulario-->
<div class="errores">
    <ul></ul>
</div>


<form action="/users/<%= editUsers.id%>/edit?_method=PUT"  method="POST" class="create-form" enctype="multipart/form-data">
    <h1>Modifica tus datos</h1>

    <div class="control-formulario">
    Imagen de Perfil: <input type="file" name="img" id="img"  value="<%= editUsers.img%>">
    <% if(locals.errors && errors.img){%>
        <div class="text-danger">
            <%= errors.img.msg %>
        </div>
    <%} %>

    </div>
     <div class="control-formulario">
        <label>Nombre</label>
        <input type="text" name="nombre" class="control" id="nombre" value="<%= editUsers.nombre%>" >
    <% if(locals.errors && errors.nombre){%>
        <div class="text-danger">
            <%= errors.nombre.msg %>
        </div>
    <%} %>
    
        
    </div>

    <div class="control-formulario">
        <label>Apellido</label>
        <input type="text" name="apellido" class="control" id="apellido" value="<%= editUsers.apellido%>">
        <% if(locals.errors && errors.apellido){%>
            <div class="text-danger">
                <%= errors.apellido.msg %>
            </div>
        <%} %>
        
    </div>

    <div class="control-formulario">
        <label>Correo Electrónico</label>
        <input type="email" name="email" class="control" id="email" value="<%= editUsers.email%>">
        <% if(locals.errors && errors.email){%>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
        <%} %>
        
    </div>

    <div class="control-formulario">
        <label for="" class="label">Username</label>
        <input type="text" name="username" class="control" id="username" value="<%= editUsers.username%>">
      
    </div>

    <div class="control-formulario">
        <label for="" class="label">Password</label>
        <input type="password" name="password" class="control" id="password"   >    
        <% if(locals.errors && errors.password){%>
            <div class="text-danger">
                <%= errors.password.msg %>
            </div>
        <%} %>    
     
    </div>
    

      <div class="control-formulario">
        <label>País de residencia</label>
        <select name="paisDeResidencia" class="control" value="<%= editUsers.paisDeResidencia%>" >
            <option value="Argentina">Argentina</option>
            <% if(locals.errors && errors.paisDeResidencia){%>
                <div class="text-danger">
                    <%= errors.paisDeResidencia.msg %>
                </div>
            <%} %>
            
        </select>
        
          
    </div>

    <div class="control-formulario">
        <label>Ciudad de residencia</label>
        <select name="ciudad_de_residencias_id" class="control" value="<%= editUsers.ciudad_de_residencias_id%>">
           
           <option value="1">Buenos aires</option>
           <option value="2">Santa Fe</option>
           <option value="3">Rosario</option>
           <option value="4">Mendoza</option>
           <option value="5">Mar de plata</option>
           <option value="6">La Plata</option>
         
       </select>
   </div>
    
    <div class="control-formulario">
        <label>Dirección</label>
        <input type="text" name="direccion" class="control"  value="<%= editUsers.direccion%>" >
        <% if(locals.errors && errors.direccion){%>
            <div class="text-danger">
                <%= errors.direccion.msg %>
            </div>
        <%} %>
    </div>
    
    <div class="control-formulario">
        <label>Número de Contacto</label>
        <input type="text" name="movil" class="control" value="<%= editUsers.movil%>" >
        <% if(locals.errors && errors.movil){%>
            <div class="text-danger">
                <%= errors.movil.msg %>
            </div>
        <%} %>
      
    </div>

    <div class="control-formulario">
        <label>Alguna vez contrataste niñera?</label>         
            <input type="radio" name="pregunta" value="si" class="radio" checked>Si
            <input type="radio" name="pregunta" value="no" class="radio" checked>No</label>
    </div>

       
    <button type="submit" class="boton-formulario">Guardar</button>
 </form>

</div1>

</main>   

<script src="/js/validationUser.js"></script>
<%- include('../partials/footer.ejs')%>

</body>


</html>