<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/profile.css">

<body>

    <%- include('../partials/header.ejs')%>
<div class="contain-profile">
    <div><h1><%= user.nombre %></h1></div>
    <div><img src="<%=user.img%>" class="imagen"></div>
    <div><p><%= user.email%></p></div>

</div>



    <%- include('../partials/footer.ejs')%>
</body>
</html>