<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile.css">

</head>
<body>

    <%- include('../partials/header.ejs')%>
<div class="contain-profile">
    <div><h1><%= user.nombre %></h1></div>
    <div><img src="<%=user.img%>" class="imagen"></div>
    <div><p><%= user.email%></p></div>

</div>

    <%- include('../partials/footer.ejs')%>
</body>
</html>