<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style5.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>Registrarse Padres</title>
</head>
          
<body>

<%- include('../partials/header.ejs')%>
<main class="form-container">
<!--- Formulario-->
<form action="/new-user" method="POST" class="create-form">
<h1>¡Bienvenido a Nannies!</h1>

<div class="control-formulario">
Imagen de Perfil: <input type="file" name="img" id="Imagen de Perfil" accept= ".jpg, multiple">
<% if(locals.errors && errors.img){%>
    <div class="text-danger">
        <%= errors.img.msg %>
    </div>
<%} %>
</div>
     <div class="control-formulario">
        <label>Nombre</label>
        <input type="text" name="nombre" class="control">
        <% if(locals.errors && errors.nombre){%>
            <div class="text-danger">
                <%= errors.nombre.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>Apellido</label>
        <input type="text" name="apellido" class="control">
        <% if(locals.errors && errors.apellido){%>
            <div class="text-danger">
                <%= errors.apellido.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>Correo Electrónico</label>
        <input type="email" name="email" class="control">
        <% if(locals.errors && errors.email){%>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label for="" class="label">Username</label>
        <input type="text" name="username" class="control">
        <% if(locals.errors && errors.username){%>
            <div class="text-danger">
                <%= errors.username.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label for="" class="label">Password</label>
        <input type="password" name="password" class="control">
        <% if(locals.errors && errors.username){%>
            <div class="text-danger">password
                <%= errors.password.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>Nacionadlidad</label>
        <input type="text" name="nacionalidad" class="control" >
        <% if(locals.errors && errors.nacionalidad){%>
            <div class="text-danger">password
                <%= errors.nacionalidad.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>País de residencia</label>
        <select name="pais_de_residencia" class="control">
            <option value="Elegi una opcion">Elegi una opción</option>
            <option value="Argentina">Argentina</option>
            <option value="Colombia">Colombia</option>
            
        </select>
        <% if(locals.errors && errors.pais_de_residencia){%>
            <div class="text-danger">
                <%= errors.pais_de_residencia.msg %>
            </div>
        <%} %>
          
    </div>

    <div class="control-formulario">
        <label>Ciudad de residencia</label>
        <select name="ciudad_de_residencia" class="control">
           <option value="Elegi una ciudad">Elegi una ciudad</option>
           <option value="Buenos aires">Buenos aires</option>
           <option value="Santa Fe">Santa Fe</option>
           <option value="Rosario">Rosario</option>
           <option value="Mendoza">Mendoza</option>
           <option value="Mar de plata">Mar de plata</option>
           <option value="La Plata">La Plata</option>
         
       </select>
   </div>
    
    <div class="control-formulario">
        <label>Dirección</label>
        <input type="number" name="direccion" class="control" placeholder="">
        <% if(locals.errors && errors.direccion){%>
            <div class="text-danger">
                <%= errors.direccion.msg %>
            </div>
        <%} %>
    </div>
    
    <div class="control-formulario">
        <label>Número de Contacto</label>
        <input type="number" name="movil" class="control" placeholder="">
        <% if(locals.errors && errors.movil){%>
            <div class="text-danger">
                <%= errors.movil.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>Alguna vez contrataste niñera?</label>         
            <input type="radio" name="pregunta" class="radio">Si
            <input type="radio" name="pregunta" class="radio">No</label>
    </div>

    <div class="control-formulario">
        <label>Dejanos tus dudas</label>
        <textarea name="dudas" class="control"></textarea >
    </div>

    
    <button type="submit" class="boton-formulario">Guardar</button>
 </form>

</div1>
</main>   
<%- include('../partials/footer.ejs')%>

</body>


</html>
