<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/registerParents.css">

          
<body>

<%- include('../partials/header.ejs')%>
<main class="form-container">
<!--- Formulario-->
<form action="/users/signp" method="POST" class="create-form" enctype="multipart/form-data">
<h1>¡Bienvenido a Nannies!</h1>

<div class="control-formulario">
Imagen de Perfil: <input type="file" name="img" id="Imagen de Perfil" accept= ".jpg, multiple" >
<% if(locals.errors && errors.img){%>
    <div class="text-danger">
        <%= errors.img.msg %>
    </div>
<%} %>
</div>
     <div class="control-formulario">
        <label>Nombre</label>
        <input type="text" name="nombre" class="control" value="<%locals.oldData ? oldData.nombre :null%>">
        <% if(locals.errors && errors.nombre){%>
            <div class="text-danger">
                <%= errors.nombre.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>Apellido</label>
        <input type="text" name="apellido" class="control" value="<%locals.oldData ? oldData.apellido :null%>">
        <% if(locals.errors && errors.apellido){%>
            <div class="text-danger">
                <%= errors.apellido.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>Correo Electrónico</label>
        <input type="email" name="email" class="control" value="<%locals.oldData ? oldData.email :null%>">
        <% if(locals.errors && errors.email){%>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label for="" class="label">Username</label>
        <input type="text" name="username" class="control" value="<%locals.oldData ? oldData.username :null%>">
        <% if(locals.errors && errors.username){%>
            <div class="text-danger">
                <%= errors.username.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label for="" class="label">Password</label>
        <input type="password" name="password" class="control" >
        <% if(locals.errors && errors.username){%>
            <div class="text-danger">password
                <%= errors.password.msg %>
            </div>
        <%} %>
    </div>

      <div class="control-formulario">
        <label>País de residencia</label>
        <select name="paisDeResidencia" class="control" >
            <option value="Argentina">Argentina</option>
            
            
        </select>
        <% if(locals.errors && errors.pais_de_residencia){%>
            <div class="text-danger">
                <%= errors.pais_de_residencia.msg %>
            </div>
        <%} %>
          
    </div>

    <div class="control-formulario">
        <label>Ciudad de residencia</label>
        <select name="ciudad_de_residencias_id" class="control" >
           <option value="0">Elegi una ciudad</option>
           <option value="1">Buenos aires</option>
           <option value="2">Santa Fe</option>
           <option value="3">Rosario</option>
           <option value="4">Mendoza</option>
           <option value="5">Mar de plata</option>
           <option value="6">La Plata</option>
         
       </select>
   </div>
    
    <div class="control-formulario">
        <label>Dirección</label>
        <input type="text" name="direccion" class="control" placeholder="" value="<%locals.oldData ? oldData.direccion :null%>">
        <% if(locals.errors && errors.direccion){%>
            <div class="text-danger">
                <%= errors.direccion.msg %>
            </div>
        <%} %>
    </div>
    
    <div class="control-formulario">
        <label>Número de Contacto</label>
        <input type="text" name="movil" class="control" placeholder="" value="<%locals.oldData ? oldData.text :null%>">
        <% if(locals.errors && errors.movil){%>
            <div class="text-danger">
                <%= errors.movil.msg %>
            </div>
        <%} %>
    </div>

    <div class="control-formulario">
        <label>Alguna vez contrataste niñera?</label>         
            <input type="radio" name="pregunta" value="Si" class="radio">Si
            <input type="radio" name="pregunta" value="No" class="radio">No</label>
    </div>

    <div class="control-formulario">
        <label>Dejanos tus dudas</label>
        <textarea name="dudas" class="control" value="<%locals.oldData ? oldData.dudas :null%>"></textarea >
    </div>

    
    <button type="submit" class="boton-formulario">Guardar</button>
 </form>

</div1>
</main>   
<%- include('../partials/footer.ejs')%>

</body>


</html>
